body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  flex-direction: row; /* Predeterminado: disposición horizontal */
}

.left, .right {
  flex: 1; /* Cada sección ocupa el 50% del contenedor */
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: black;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px; /* Espaciado negativo para alineación correcta */
  margin-left: -15px; /* Espaciado negativo para alineación correcta */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
  flex-direction: row !important; /* Disposición de los elementos en fila */
}

.left {
  /*background-color: #007bff; /* Azul */
  justify-content: center;
}

.right {
  /*background-color: #28a745; /* Verde */
  align-items: left;
}

.right-flex-column  {
  display: flex !important;
  flex-direction: column !important;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  padding-right: 3rem !important;
  align-items: center !important;
  align-self: center !important;
}

.my-5 {
  margin-bottom: 3rem !important;
  margin-left: 20px; /* Margen derecho de 20px */
}

/*contenedor 3*/
.flex-column {
  display: flex; /* Activa Flexbox */
  flex-direction: column; /* Disposición vertical de los elementos */
  flex: 0 0 41.666667%; /* Ocupa el 41.67% del ancho del contenedor */
  max-width: 41.666667%; /* Define el ancho máximo */
}

.centered {
  align-self: center !important; /* Alinea el elemento en el centro del contenedor padre */
  text-align: center !important; /* Centra el texto */
  align-items: center !important; /* Centra los elementos horizontalmente */
}

/*contenedor 4*/
.centered-auto-text {
  margin-right: auto !important; /* Centra horizontalmente automáticamente */
  margin-left: auto !important; /* Centra horizontalmente automáticamente */
  text-align: center !important; /* Centra el texto */
}

.padding-large {
  padding: 1rem !important; /* Define un padding uniforme grande */
}

.padding-medium {
  padding: 0.1rem !important; /* Define un padding uniforme medio */
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.inline-list-item {
  display: inline-block; /* Muestra el elemento en línea como bloque */
}

.inline-list-item:not(:last-child) {
  margin-right: 0.5rem; /* Agrega espacio a la derecha de cada elemento excepto el último */
}

.scrollable-container {
  width: 100%; /* Ancho máximo del contenedor */
  height: 100vh; /* Altura igual al viewport */
  border: 1px solid #ccc; /* Borde para distinguir el div */
  overflow-y: auto; /* Habilita el scroll vertical */
  overflow-x: hidden; /* Deshabilita el scroll horizontal */
  padding: 10px; /* Espaciado interno */
  margin: 20px auto; /* Margen superior e inferior de 20px, centrado horizontalmente */
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}

.scrollable-container p {
  margin: 0;
  line-height: 1.5;
}

/*boton*/
.button {
  display: inline-block;
  font-weight: 400;
  color: #343a40; /* Color oscuro del texto */
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid #343a40; /* Borde oscuro */
  padding: 0.375rem 0.75rem; /* Espaciado interno */
  font-size: 1rem; /* Tamaño del texto */
  line-height: 1.5;
  border-radius: 0.25rem; /* Bordes redondeados */
  transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
  margin-bottom: 0.5rem; /* Margen inferior */
}

.button-skills {
  background-color: #f3f3ec;
  display: flex;
  border: none;
  align-items: center;
  justify-content:center;
  padding: 5px 10px;
}

.button:hover {
  color: #fff; /* Cambia el texto a blanco al pasar el mouse */
  background-color: #1ed760; /* Cambia el fondo al color oscuro */
  border-color: #343a40; /* Borde oscuro */
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); /* Sombra de enfoque */
}

.button.disabled,
.button:disabled {
  opacity: 0.65; /* Transparencia para deshabilitado */
  cursor: not-allowed;
}



/* Media Query para pantallas de iPhone (375px de ancho o menos) */
@media (max-width: 375px) {
  .container {
    flex-direction: column; /* Cambia a disposición vertical */
    height: auto; /* El contenedor no necesita ocupar toda la altura de la pantalla */
  }

  .left, .right {
    flex: none; /* No ocupan el 50%, se ajustan al tamaño del contenido */
    width: 100%; /* Ambos ocupan todo el ancho del contenedor */
    padding-right: 0; /* Elimina el padding derecho */
    padding-left: 0; /* Elimina el padding izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
    margin-left: 0; /* Elimina el margen izquierdo */
    font-size: 1rem; /* Reduce el tamaño de la fuente para pantallas más pequeñas */
  }

  .left {
    justify-content: center; /* Centra el contenido */
  }

  .right {
    align-items: flex-start; /* Alinea el contenido a la izquierda */
  }

  /* Ajusta el tamaño de los elementos de la clase .flex-column */
  .flex-column {
    max-width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
    flex: 1 0 100%; /* Los elementos se ajustan al 100% del ancho */
  }

  /* Ajustes de padding */
  .padding-large {
    padding: 0.5rem !important; /* Reduce el padding en pantallas más pequeñas */
  }

  .padding-medium {
    padding: 0.2rem !important; /* Reduce el padding en pantallas más pequeñas */
  }

  /* Ajustes adicionales para los botones */
  .button {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente del botón */
    padding: 0.4rem 0.8rem; /* Ajusta el tamaño del padding en botones */
  }
}




/* Media Query para dispositivos móviles (pantallas de 768px o menos) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia a disposición vertical */
    height: auto; /* El contenedor no necesita ocupar toda la altura de la pantalla */
  }

  .left, .right {
    flex: none; /* No ocupan el 50%, se ajustan al tamaño del contenido */
    width: 100%; /* Ambos ocupan todo el ancho del contenedor */
    padding-right: 0; /* Elimina el padding derecho */
    padding-left: 0; /* Elimina el padding izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
    margin-left: 0; /* Elimina el margen izquierdo */
    font-size: 1.2rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
  }

  .left {
    justify-content: center; /* Centra el contenido */
  }

  .right {
    align-items: flex-start; /* Alinea el contenido a la izquierda */
  }

  /* Ajustes para la clase .flex-column */
  .flex-column {
    max-width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
    flex: 1 0 100%; /* Los elementos se ajustan al 100% del ancho */
  }

  /* Ajustes de padding */
  .padding-large {
    padding: 0.5rem !important; /* Reduce el padding en pantallas más pequeñas */
  }

  .padding-medium {
    padding: 0.2rem !important; /* Reduce el padding en pantallas más pequeñas */
  }

  /* Ajustes adicionales para los botones */
  .button {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
    padding: 0.4rem 0.8rem; /* Ajusta el tamaño del padding */
  }
}

/* Media Query para dispositivos pequeños (pantallas de 375px o menos, como el iPhone) */
@media (max-width: 375px) {
  .container {
    flex-direction: column; /* Cambia a disposición vertical */
    height: auto;
  }

  .left, .right {
    font-size: 1rem; /* Reducción aún mayor del tamaño de la fuente */
    padding: 0.5rem; /* Aumenta el padding */
  }

  .left {
    justify-content: center;
  }

  .right {
    align-items: flex-start;
  }

  .flex-column {
    max-width: 100%;
    flex: 1 0 100%;
  }

  .padding-large {
    padding: 0.3rem !important; /* Ajuste de padding aún más pequeño */
  }

  .button {
    font-size: 0.8rem; /* Ajuste del tamaño de los botones */
    padding: 0.3rem 0.6rem; /* Ajuste del tamaño del padding */
  }
}